extends layout

block content
  h1= "Please Login"
  form(name="login", action="/login", method="post")
      input(type="text", name="email")
      input(type="password", name="password")
      input(type="submit", value="login")