@import (reference) "./mixins";

article {
	position: relative;
	overflow: hidden;
	
	height: 64px;
	margin: 3px 0;
	padding: 0 3px;
	background-color: #FFFFFF;
	border-left: 3px solid #F2F2F2;
	
	opacity: 0.7;
	
	.transition (all 0.3s ease, border 0.2s .3s ease-out);
	.user-select(none);
}

article:hover {
	opacity: 0.9;
	cursor: pointer;
}

article:active, article.active {
	opacity: 1;
	border-left-width: 6px;
	border-left-color: #0084F4;
}

article.active .short > .excerpt { color: #888 }

article:nth-child(2n) {
	background-color: #FAFAFA;
}

article header {
	position: relative;
	overflow: hidden;
}

article header > .image {
	float: left;
	margin: 0 18px 0 0;
}

article header > div {
	display: inline-block;
	vertical-align: middle;
}

article header > .inline > div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.9em;
}

article header .excerpt { color: #777 }
article header .subject { color: #0084F4 }

article header .date {
	position: absolute;
	top: 6px;
	right: 10px;
	color: #0084F4;
	font-size: 0.7em;
}