article {
	width: 100%;
	margin: 3px 0;
	padding: 20px;
	height: 80px;
	background-color: #FFFFFF;
	border-left: 3px solid #F2F2F2;
	
	opacity: 0.7;
}

article:hover {
	opacity: 1;
}

article:nth-child(2n) {
	background-color: #FAFAFA;
}

article header {
	position: relative;
}

article header > .image {
	border-radius: 50%;
}

article header > div {
	display: inline-block;
	float: left;
}

article header > .date {
	position: absolute;
	top: 0;
	right: 10px;
}

article header > .subject {
	display: block;
}