.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;
	transition: 		@transition;
}

.user-select (@select) {
	-webkit-user-select: @select;  
	-moz-user-select:    @select;
	-ms-user-select:     @select; 
	-o-user-select:      @select;
	user-select: 		 @select;
}