.transition (@transition, @transition2, @transition3) {
	-webkit-transition: @transition, @transition2, @transition3;  
	-moz-transition:    @transition, @transition2, @transition3;
	-ms-transition:     @transition, @transition2, @transition3; 
	-o-transition:      @transition, @transition2, @transition3;
	transition: 		@transition, @transition2, @transition3;
}

.transform (@transform) {
	-webkit-transform:  @transform;  
	-moz-transform:     @transform;
	-ms-transform:      @transform; 
	-o-transform:       @transform;
	transform: 		    @transform;
}

.user-select (@select) {
	-webkit-user-select: @select;  
	-moz-user-select:    @select;
	-ms-user-select:     @select; 
	-o-user-select:      @select;
	user-select: 		 @select;
}