@base: #F2F2F2;
@secondary: #4EAEFF;

@import (reference) "./mixins";

* { font-family: 'Lato', sans-serif; }

// Set App height to window height - requires JS fallback
html, body, .pure-g { height: 100%; }

body {
	margin: 0 80px;
}

body > .pure-g > div {
	padding: 50px 0 0;
	overflow: hidden;
	overflow-y: auto;
}

.pure-u-0-24 { width: 0 }
.pure-g [class *="pure-u"] { .transition (width 0.3s ease); }

label.title {
	font-size: 2em;
	opacity: 0.2;
}

ul {
	list-style: none;
	padding: 0;
	.user-select (none);
}

ul > li {
	margin: 18px 0;
	padding: 0px 10px;
	width: 100%;
	border-left: 2px solid @base;
	opacity: 0.7;
	
	.transition (all 0.3s ease);
}

ul > li:hover {
	opacity: 1;
	cursor: pointer;
	padding: 0 12px;
}

ul > li.active, ul > li:active {
	border-color: @secondary;
	opacity: 0.9;
}

/* Inspired by CodePlayer at http://thecodeplayer.com/walkthrough/ripple-click-effect-google-material-design */
.ink {
	display: block;
	position: absolute;
	background: rgba(78, 174, 255, 0.52);
	border-radius: 100%;
	.transform(scale(0));
}

.ink.animate {
	-webkit-animation: ripple 0.65s linear;
	-moz-animation: ripple 0.65s linear;
	-o-animation: ripple 0.65s linear;
	-ms-animation: ripple 0.65s linear;
	animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple { 100% {opacity: 0; transform: scale(2.5);} }
@-moz-keyframes ripple { 100% {opacity: 0; transform: scale(2.5);} }
@-o-keyframes ripple { 100% {opacity: 0; transform: scale(2.5);} }
@-ms-keyframes ripple { 100% {opacity: 0; transform: scale(2.5);} }
@keyframes ripple { 100% {opacity: 0; transform: scale(2.5);} }

@import "./list";
@import "./mail";
@import "./forms";